:root {
  --primary-color: #861F41;
  --link-color: #861F41;
  --btn-primary-bg: #861F41;
  --btn-primary-border: #861F41;
}

a {
  color: #861F41 !important;
}

a:hover {
  color: #5D172E !important;
}

.site-title, .site-title a {
  color: #861F41 !important;
}

button, .btn {
  background-color: #861F41 !important;
  border-color: #861F41 !important;
}
